@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>crear_usuario</title>
</head>
<body>
    <div>
        <table border="1" align="center">
            <tr>
                <th colspan="2">INTRODUZCA DATOS</th>
            </tr>
            <tr>
                <td> @Html.Label("LOGIN")</td>
                <td> @Html.TextBox("login")</td>
            </tr>

            <tr>
                <td> @Html.Label("PASSWORD")</td>
                <td> @Html.TextBoxFor("")</td>
            </tr>
            <tr>
                <td> @Html.Label("Apellido materno")</td>
                <td> @Html.TextBoxFor(model=>model.ap_materno)</td>
            </tr>
            <tr>
                <td> @Html.Label("Estado")</td>
                <td> @Html.TextBoxFor(model=>model.estado)</td>
            </tr>
            
            <tr>
                <td colspan="2"><input type="submit" value="subir" /></td>
            </tr>
        </table>
    </div>
</body>
</html>
