@model MvcApplication1.Models.tbarchivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>tbarchivo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cod_archivo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cod_archivo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbnotas.titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbnotas.titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.formato)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.formato)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tamaño)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tamaño)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
