@model MvcApplication1.Models.tbagenda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>tbagenda</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cod_agenda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cod_agenda)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tbusuario.login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tbusuario.login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
